{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Astromen</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'assets\css\style.css' %}">
</head>

<body>
    <div class="container-body">
        <div class="header">
            <div class="container-header text-center">
                <div class="row">
                    <div class="col-1 logo-container-astro">
                        <img class="logo-img-astro" src="{% static 'assets\img\logoAstromen.jpg' %}" alt="">
                    </div>
                    <div class="col-4"></div>
                    <div class="col-3 col-buy-cart">
                        <div class="cart-container">
                            <div class="border-cart-round">
                                <img class="icon-cart" src="{% static 'assets\img\logoCart.svg' %}" alt="">
                            </div>
                            <div class="text-quick-buy">
                                <b> Mua ngay Astromen</b>
                            </div>
                        </div>
                    </div>
                    <div class="col-2 ">

                        <img class="img-hotline-header" src="{% static 'assets\img\hotline-tuvan.png' %}" alt="">

                    </div>
                </div>
            </div>

            <div class="cart-Button"></div>
        </div>
        <nav class="navbar">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Navbar</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Dropdown
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                        </li>
                    </ul>
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
        <footer class="footer text-white text-center text-lg-start">
            <!-- Grid container -->
            <div class="container p-4">
                <!--Grid row-->
                <div class="row">
                    <!--Grid column-->
                    <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                        <img class="logo-img-astro-footer" src="{% static 'assets\img\logoAstromen.jpg' %}" alt="">

                        <ul class="list-unstyled mb-0">
                            <li>
                                <p><b>Công ty Cổ phần Asta Healthcare USA</b>​</p>
                            </li>
                            <li>
                                <p>Lô D1, D2, D6, D7, D8 KCN Hòa Hiệp1,​ Hòa Hiệp Bắc, TX. Đông Hòa, Phú Yên</p>
                            </li>
                            <li>
                                <a href="#!" class="text-white">0257.3686939​</a>
                            </li>
                            <li>
                                <a href="#!" class="text-white">cskh@astahealthcare.com</a>
                            </li>
                        </ul>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0 col-footer">
                        <h5 class="text-uppercase">THÔNG TIN GIỚI THIỆU​</h5>

                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="#!" class="text-white">Giới thiệu</a>
                            </li>
                            <li>
                                <a href="#!" class="text-white">Địa chỉ mua hàng</a>
                            </li>
                            <li>
                                <a href="#!" class="text-white">Điều khoản sử dụng​</a>
                            </li>
                            <li>
                                <a href="#!" class="text-white">Miễn trừ trách nhiệm</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0 col-footer col-footer-3rd">
                        

                        <ul class="list-unstyled mb-0">
                            <li>
                                <img class="logo-img-astro-footer" src="{% static 'assets\img\logoCart.svg' %}" alt="">
                            </li>
                            <li>
                                <img class="logo-img-astro-footer" src="{% static 'assets\img\hotline-footer.png' %}" alt="">
                            </li>
                            
                        </ul>
                    </div>
                </div>
            <!-- </div>
            <div class="text-center p-3" style="background-color: #044750;">
                © 2020 Copyright:
                <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
            </div> -->
            <!-- Copyright -->
        </footer>
    </div>
</body>

</html>

</body>