.price-title-text{
    color:white;
    font-size: larger;
}

.price-container-title{
 background-color: #a64a2e;
 padding: 5%;
 border-radius: 20px/20px; 
}


.price-product_content-text{
    color:white;
}
.price-content-container{
    display: inline; 
}

.price-product_content-brand{
    font-weight: bolder;
    font-size: 150%;
}

.product_content-price_unit{
    font-size: 150%;
}