/* Thiết lập các thuộc tính mặc định */
.tinhtrang-title {
    color: white;
}

.section_tinhtrang {
    background-color: #004650;
}

.tinhtrang-abstract {
    margin-top: 4%;
    color: white;
    font-weight: lighter;
}

.tinhtrang-detail-column {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.mod_title_trang {
    color: white;
}

.li-tinhtrang-content {
    color: white;
}

.tinhtrang-text-column {
    width: 60%;
}

@media screen and (max-width: 768px) {
    .tinhtrang-detail-column {
        flex-direction: column; 
    }
    .tinhtrang-text-column {
        width: 100%; 
    }
}